#axon-annotation-container, #axon-example-container {
	box-sizing: border-box;
        text-align: left;
}

#axon-annotation-container *, #axon-example-container * {
	box-sizing: border-box;
        color: black;
	line-height: 1.3;
}

#axon-annotation-container a, #axon-example-container a {
        color:#000444;
	text-decoration: none;
        outline: 0;
}

#axon-annotation-container a:visited, #axon-example-container a:visited {
        color:#000444;
}

#axon-annotation-container a:hover, #axon-example-container a:hover {
	text-decoration: underline;
}

.displayNone {
	display: none!important;
}

#annotation-main {
	border: 1px solid #999;
	border-radius: 4px;
	box-shadow: 0 0 18px rgba(3,4,7,0.4);
	color: #222;
        font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: normal;
	padding: 9px;
	position: absolute;
	width: 300px;
}

#annotation-main:after {
	clear: both;
	content: "";
	display: table;
}

#annotation-main,#annotation-tail-container {
	background-color: #fcfbf8;
	z-index: 99997;
}

#annotation-close {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wEdDgAjGFb+0AAAAJdJREFUGNNFzqFqgnEYhfHfJ/ZhEEFQ24JxfUFXVmS8t7WbefOGCC6YJvgpw2W/uKDOGzD4B594DjznVBHxjle8ZOYfREQfS8yriPjBGAc84x8bjLBtY4JvDPGBHjo44q0qyhE+8ehGjVlmNq0SnNF156EYVOXQqmzWRT9Eg2kbX6U8YoYT9hggW1hgh6fMbDLzgil+sb4Cj6ErDnFpPoIAAAAASUVORK5CYII=');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	opacity: 0.4;
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
}

#annotation-close:hover {
	opacity: 1;
}

#annotation-title-row {
	margin-bottom: 9px;
	background-color: inherit;
}

#annotation-title,#annotation-audio-icon {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
	background-color: inherit;
}

#annotation-title {
        font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
        word-break: break-word;
	background-color: inherit;
}

#annotation-audio-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAARCQAAEQkAGJrNK4AAAAB3RJTUUH3wEdDx4f4rrXvwAAAURJREFUKM+l0jGIz2EcBvDP/fwpGWSlbBajp4sMJ6VYJNMtFhZnMVAuKXWDRDFeZzLcZDS5QckNCn2NFpMus0gMl1jen35+fpvv9L7v8z7f9/s+z8NEJVlOspKk3w+xP+vZBPE4TmGrP6sqSR7hAk7iDXQj4j4sNvJfVVWXsYbXSRZglkRV9Xfu4MqoIWzgYlVdT/IFL5PsmktyF/P4jrMD3mNcausNnMbeqvqa5CPWu/aHYyMiLOBAG/kM3mG1YQ9xvsMcdk+I/gH3BqPfx7mGvcXhzn9Uh1/4MYEdwnJvFW7gacPm8X6GF/g2IdgmPrWxn+FI0weuYX2Gm71VSVbHVmEHdmJ/U/o2DmJlNvAYbmEbVwfh+NmHJsmD9uqJqtruRin6jCd4PhHbNSzhaFVt/hPP1uBVI28NU1ZVS1W1p881/AbZOWteEwsJ5QAAAABJRU5ErkJggg==');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: 8px;
	opacity: 0.6;
	width: 16px;
}

#annotation-audio-icon:hover {
	opacity: 1;
}

#annotation-definition {
        font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.3;
	background-color: inherit;
}

/* Wikipedia */
#annotation-definition h1, #annotation-definition h2, #annotation-definition h3 {
        font-family: Verdana, Geneva, sans-serif;
        font-size:14px;
        font-weight: bold;
        margin: 10px 0 5px 0;
}

#annotation-definition p {
        margin:0;
        padding:0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        text-align: left;
	background-color: inherit;
}

#annotation-definition ul {
        margin: 5px 0 5px 30px;
        padding-left:0;
}

#annotation-definition ul li {
        list-style-type: disc;
        padding: 3px;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
	background-color: inherit;
}


#annotation-example {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
	font-style: italic;
	margin: 10px 0 0 10px;
	background-color: inherit;
}

#annotation-more,#annotation-attribution {
        font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.3;
	background-color: inherit;
}

#annotation-more {
	margin-top: 10px;
	float: right;
	word-break: break-all;
        margin-right:5px;
	background-color: inherit;
}

#annotation-attribution {
	margin-top: 10px;
	float: left;
	margin-right: 9px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 230px;
	background-color: inherit;
}

#annotation-attribution a {
	color: #004778;
	background-color: inherit;
}

#annotation-tail-main {
	position: absolute;
	z-index: 99998;
	background-color: inherit;
}

#annotation-tail-inner-up,#annotation-tail-inner-down {
	background: transparent;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	left: 2px;
	position: absolute;
	width: 0;
	z-index: 99999;
}

#annotation-tail-inner-up {
	border-bottom: 8px solid #fcfbf8;
	top: 1px;
}

#annotation-tail-inner-down {
	border-top: 8px solid #fcfbf8;
}

#annotation-tail-outer-up,#annotation-tail-outer-down {
	background: transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	left: 0;
	position: absolute;
	width: 0;
}

#annotation-tail-outer-up {
	border-bottom: 9px solid #999;
}

#annotation-tail-outer-down {
	border-top: 9px solid #999;
}

.nytd_selection_button {
	display: none;
}


#example-main,#example-tail-container {
	background-color: #fcfbf8;
	z-index: 99997;
}

#example-main {
	border: 1px solid #999;
	border-radius: 4px;
	box-shadow: 0 0 18px rgba(3,4,7,0.4);
	color: #222;
        font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: normal;
	padding: 9px;
	position: absolute;
	width: 300px;
}

#example-main:after {
	clear: both;
	content: "";
	display: table;
}

#example-close {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wEdDgAjGFb+0AAAAJdJREFUGNNFzqFqgnEYhfHfJ/ZhEEFQ24JxfUFXVmS8t7WbefOGCC6YJvgpw2W/uKDOGzD4B594DjznVBHxjle8ZOYfREQfS8yriPjBGAc84x8bjLBtY4JvDPGBHjo44q0qyhE+8ehGjVlmNq0SnNF156EYVOXQqmzWRT9Eg2kbX6U8YoYT9hggW1hgh6fMbDLzgil+sb4Cj6ErDnFpPoIAAAAASUVORK5CYII=');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	opacity: 0.4;
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
}

#example-close:hover {
	opacity: 1;
}

#example-text {
        font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
	font-size: 14px;
	margin: 5px 5px 7px 10px;
	background-color: inherit;
}

#example-text span.boldItalic {
	font-style: italic;
	font-weight: bold;
}

#example-attribution {
        font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.3;
	float: left;
	margin: 3px 9px 7px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 240px;
	background-color: inherit;
}

#example-attribution a {
	color: #004778;
	background-color: inherit;
}

#example-tail-main {
	position: absolute;
	z-index: 99998;
}

#example-tail-inner-left,#example-tail-inner-right {
	background: transparent;
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	position: absolute;
	width: 0;
	z-index: 99999;
}

#example-tail-inner-left {
	left: 2px;
}

#example-tail-inner-right {
	left: 0px;
	top: 2px;
}

#example-tail-inner-left {
	border-right: 8px solid #fcfbf8;
	top: 2px;
}

#example-tail-inner-right {
	border-left: 8px solid #fcfbf8;
}

#example-tail-outer-left,#example-tail-outer-right {
	background: transparent;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	left: 0;
	position: absolute;
	width: 0;
}

#example-tail-outer-left {
	border-right: 10px solid #999;
}

#example-tail-outer-right {
	border-left: 9px solid #999;
}
